USE [aviones]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 17/02/2018 02:28:11 p.m. ******/
DROP TABLE [dbo].[empleado]
GO
USE [master]
GO
/****** Object:  Database [aviones]    Script Date: 17/02/2018 02:28:11 p.m. ******/
DROP DATABASE [aviones]
GO
/****** Object:  Database [aviones]    Script Date: 17/02/2018 02:28:11 p.m. ******/
CREATE DATABASE [aviones]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'aviones', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\aviones.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'aviones_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\aviones_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [aviones].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [aviones]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 17/02/2018 02:28:11 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[empleado](
	[nombre] [varchar](20) NULL,
	[apellido] [varchar](20) NULL,
	[edad] [int] NULL,
	[direccion] [varchar](20) NULL,
	[fila] [int] NULL,
	[rol] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
